<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://varroc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-005.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>varroc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$varroc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PSsqmEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=c2dwr06anm.database.windows.net,1433;Initial Catalog=varroc1;User ID=qaiLUX$99@c2dwr06anm;Password=mjsQAI$99" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.0.0.15;Initial Catalog=TI;User ID=qaiAAM;Password=qaiAAM" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PSsqmEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.15;Initial Catalog=TI;User ID=qaiAAM;Password=qaiAAM;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PSsqmEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=c2dwr06anm.database.windows.net,1433;initial catalog=varroc1;user id=qaiLUX$99@c2dwr06anm;password=mjsQAI$99;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>