<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="136.18.15.19" />
    <add key="fromAddress" value="global_appsgen@varroclighting.com" />
    <add key="fromPassword" value="" />
    <add key="toAddress" value="svoboda01@gmail.com" />
    <add key="port" value="" />
    <add key="useCredentials" value="false" />
    <add key="enableSsl" value="false" />
  </appSettings>  
</configuration>