div.RadMenu {
    z-index: 0;
}
div.RadMenu_Metro
{
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: none;
    z-index: 0 !important;
}
div.RadMenu_Metro div.rmRootGroup, div.RadMenu_Metro ul.rmRootGroup
{
    border: 0;
    padding: 0;
    background-color: #191970;
}
div.RadMenu_Metro .rmGroup
{
    padding: 0;
    border: 0;
    background-color: #f1ebda;
}
div.RadMenu_Metro .rmRootGroup .rmGroup
{
    height: 28px;
    padding: 0;
}
div.RadMenu_Metro .rmLink
{
    color: #191970;
    border: 0;
    margin: 0;
    text-decoration: none;
}
div.RadMenu_Metro .rmRootLink
{
    padding: 9px 16px;
    color: #fff;
    text-transform: none;
    height: 17px;
    font-size: 12px;
}
div.RadMenu_Metro .rmRootLink:hover
{
    color: #A3461F;
    background-color: #f1ebda;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 9px 15px;
    height: 17px;
}
a.rmExpanded
{
    background-color: #f1ebda;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 9px 15px;
    height: 19px;
}
a.rmExpanded .rmText
{
	color: #A3461F;
}

div.RadMenu_Metro .rmFocused:hover
{
	background-color: #f1ebda;
}
div.RadMenu_Metro .rmExpanded .rmFocused .rmText
{
    color: #191970;
}

div.RadMenu_Metro .rmGroup .rmLink.rmFocused {
    background-color: #fcfcfc;
    border-top: #e6dec7 1px solid; 
    border-bottom: 1px #fcfcfc solid;
    color: #191970;
    padding-top: 1px;
    height: 26px;
}

div.RadMenu_Metro .rmGroup .rmLink.rmFocused:hover {
    border-bottom: 1px #ffffff solid !important;
}

div.RadMenu_Metro .rmSelected
{
	background-color: #f1ebda;
}
div.RadMenu_Metro .rmSelected:hover
{
	background-color: #f1ebda;
}
div.RadMenu_Metro .rmDisabled, div.RadMenu_Metro .rmDisabled:hover
{
    color: #ccc;
}
div.RadMenu_Metro .rmGroup .rmLink
{
    color: #191970;
    background-color: #f1ebda;
    /*padding: 4px 0 6px;*/
    border-bottom: 1px solid #ccc;
    padding-top: 2px;
    height: 26px;
}
div.RadMenu_Metro .rmGroup .rmLink
{
    color: #191970;
    background-color: #f1ebda;
    /*padding: 4px 0 6px;*/
    border-bottom: 1px solid #f1ebda;
    padding-top: 2px;
    height: 26px;
}
div.RadMenu_Metro .rmGroup .rmLink:hover
{
    border: 0;
    border-bottom: 1px solid #FF9A50;
    /*padding: 4px 0 6px;*/
    color: #A3461F;
    background-color: #f1ebda;
    padding-top: 2px;
    height: 26px;
}
div.RadMenu_Metro .rmGroup .rmFocused, div.RadMenu_Metro .rmGroup .rmFocused:hover, div.RadMenu_Metro .rmGroup .rmSelected, div.RadMenu_Metro .rmGroup .rmSelected:hover, div.RadMenu_Metro .rmGroup .rmExpanded, div.RadMenu_Metro .rmGroup .rmExpanded:hover
{
    cursor: default;
    border-top: 1px solid #e6dec7;
    padding-top: 1px;
    background-color: #fcfcfc;
    color: #222222;
}
div.RadMenu_Metro .rmGroup .rmDisabled, div.RadMenu_Metro .rmGroup .rmDisabled:hover
{
    border: 0;
    border-bottom: 4px solid #FF9364;
    /*padding: 4px 0 6px;*/
    color: #A3461F;
}
div.RadMenu_Metro .rmText
{
    margin: 0;
    padding: 0;
}
div.RadMenu_Metro .rmRootLink .rmText
{
    padding: 0;
}
div.RadMenu_Metro .rmLeftImage
{
    padding-bottom: 2px;
}
div.RadMenu_Metro .rmGroup .rmLeftImage
{
    margin: 2px 0 0 6px;
    margin: 2px 0 0 3px;
}
div.RadMenu_Metro .rmExpandTop, div.RadMenu_Metro .rmExpandDown, div.RadMenu_Metro .rmExpandRight, div.RadMenu_Metro .rmExpandLeft
{
    background-image: url('Menu/rmExpandArrows.png');
    background-repeat: no-repeat;
}
div.RadMenu_Metro .rmRootLink .rmExpandRight, div.RadMenu_Metro .rmRootLink .rmExpandLeft
{
    margin-right: -10px;
    padding-right: 24px;
}
div.RadMenu_Metro .rmRootLink .rmExpandTop, div.RadMenu_Metro .rmRootLink .rmExpandDown
{
    background: 0;
}
div.RadMenu_Metro .rmRootLink .rmExpandTop
{
    background-position: right -192px;
}
div.RadMenu_Metro .rmRootLink .rmExpandDown
{
    background-position: right -216px;
}
div.RadMenu_Metro .rmRootLink .rmExpandRight
{
    background-position: right -264px;
}
div.RadMenu_Metro .rmRootLink .rmExpandLeft
{
    background-position: right -240px;
}
div.RadMenu_Metro .rmGroup .rmExpandRight
{
    background-position: right -72px;
}
div.RadMenu_Metro .rmGroup .rmFocused .rmExpandRight, div.RadMenu_Metro .rmGroup .rmSelected .rmExpandRight, div.RadMenu_Metro .rmGroup .rmExpanded .rmExpandRight
{
    background-position: right -264px;
}
div.RadMenu_Metro .rmGroup .rmExpandLeft
{
    background-position: right -48px;
}
div.RadMenu_Metro .rmGroup .rmFocused .rmExpandLeft, div.RadMenu_Metro .rmGroup .rmSelected .rmExpandLeft, div.RadMenu_Metro .rmGroup .rmExpanded .rmExpandLeft
{
    background-position: right -240px;
}
div.RadMenu_Metro .rmTopArrow, div.RadMenu_Metro .rmBottomArrow, div.RadMenu_Metro .rmLeftArrow, div.RadMenu_Metro .rmRightArrow
{
    background-image: url('Menu/rmExpandArrows.png');
    background-repeat: no-repeat;
}
div.RadMenu_Metro .rmRootGroup .rmTopArrow, div.RadMenu_Metro .rmRootGroup .rmBottomArrow, div.RadMenu_Metro .rmRootGroup .rmLeftArrow, div.RadMenu_Metro .rmRootGroup .rmRightArrow
{
    border-color: #002149;
    background-color: #92cfec;
}
div.RadMenu_Metro .rmRootGroup .rmLeftArrow, div.RadMenu_Metro .rmRootGroup .rmRightArrow
{
    height: 26px;
}
div.RadMenu_Metro .rmGroup .rmTopArrow, div.RadMenu_Metro .rmGroup .rmBottomArrow, div.RadMenu_Metro .rmGroup .rmLeftArrow, div.RadMenu_Metro .rmGroup .rmRightArrow
{
    color: #191970;
    background-color: #ffffff;
}
div.RadMenu_Metro .rmGroup .rmTopArrow:hover, div.RadMenu_Metro .rmGroup .rmBottomArrow:hover, div.RadMenu_Metro .rmGroup .rmLeftArrow:hover, div.RadMenu_Metro .rmGroup .rmRightArrow:hover
{
    color: #191970;
    background-color: #ffffff;
}
div.RadMenu_Metro .rmGroup .rmLeftArrow, div.RadMenu_Metro .rmGroup .rmRightArrow
{
    height: 24px;
}
div.RadMenu_Metro .rmTopArrow
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-position: 50% -7px;
}
div.RadMenu_Metro .rmBottomArrow
{
    border-top-style: solid;
    border-top-width: 1px;
    background-position: 50% -31px;
}
div.RadMenu_Metro .rmLeftArrow
{
    border-right-style: solid;
    border-right-width: 1px;
    background-position: 50% -48px;
}
div.RadMenu_Metro .rmRightArrow
{
    border-left-style: solid;
    border-left-width: 1px;
    background-position: 50% -72px;
}
div.RadMenu_Metro .rmSeparator
{
    padding: 1px;
}
div.RadMenu_Metro .rmSeparator .rmText
{
    background-color: #ffffff;
}
div.RadMenu_Metro .rmVertical .rmSeparator .rmText, div.RadMenu_Metro .rmHorizontal .rmVertical .rmSeparator .rmText
{
    margin-top: 2px;
    padding-bottom: 1px;
}
div.RadMenu_Metro .rmHorizontal .rmSeparator .rmText, div.RadMenu_Metro .rmVertical .rmHorizontal .rmSeparator .rmText
{
    margin-right: 1px;
    margin-left: 1px;
    padding: 0;
    width: 1px;
}
div.RadMenu_Metro_rtl .rmVertical .rmText
{
    padding-right: 0;
    padding-left: 30px;
}
div.RadMenu_Metro_rtl .rmRootLink .rmExpandRight, div.RadMenu_Metro_rtl .rmRootLink .rmExpandLeft
{
    margin-right: 0;
    margin-left: -10px;
    padding-right: 0;
    padding-left: 24px;
}
div.RadMenu_Metro_rtl .rmRootLink .rmExpandTop, div.RadMenu_Metro_rtl .rmRootLink .rmExpandDown
{
    background: 0;
}
div.RadMenu_Metro_rtl .rmRootLink .rmExpandTop
{
    background-position: left -192px;
}
div.RadMenu_Metro_rtl .rmRootLink .rmExpandDown
{
    background-position: left -216px;
}
div.RadMenu_Metro_rtl .rmRootLink .rmExpandRight
{
    background-position: left -264px;
}
div.RadMenu_Metro_rtl .rmRootLink .rmExpandLeft
{
    background-position: left -240px;
}
div.RadMenu_Metro .rmTopFix, div.RadMenu_Metro .rmTopLeft, div.RadMenu_Metro .rmTopRight, div.RadMenu_Metro .rmBottomFix, div.RadMenu_Metro .rmBottomLeft, div.RadMenu_Metro .rmBottomRight
{
    display: none;
}

/* RadGrid overrides */
div.RadGrid_Metro .rgHeader
{
	font-size: 12px;
	font-family: Verdana, Arial, helvetica, Sans-Serif;
	color: #222;
	font-weight: bold;
	background-color: #EEEAE0;
}
/* RadWindow overrides */

div.RadWindow_Metro .rwTopLeft,
div.RadWindow_Metro .rwTopRight,
div.RadWindow_Metro .rwTitlebar,
div.RadWindow_Metro .rwTopResize {
	/*background: #25a0da;*/
	background-color: #191970;
    text-transform: capitalize !important;
}
div.RadWindow_Metro .rwTitlebarControls em {
    text-transform: capitalize !important;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    margin-top: 3px !important;
}


/* Radform overrides */
div.RadForm.rfdTextbox input[type="text"].rfdDecorated,
div.RadForm.rfdTextbox input[type="password"].rfdDecorated,
div.RadForm.rfdTextarea textarea,
div.RadForm.rfdTextarea textarea[disabled].rfdDecorated:hover,
div.RadForm.rfdTextbox input[disabled][type="text"].rfdDecorated:hover,
div.RadForm.rfdTextbox input[disabled][type="password"].rfdDecorated:hover,
div.RadForm.rfdLabel label,
div.RadForm .rfdDecorated,
div.RadForm .rfdCheckboxChecked,
div.RadForm .rfdInputDisabled.rfdCheckboxChecked:hover,
div.RadForm .rfdCheckboxUnchecked,
div.RadForm .rfdInputDisabled.rfdCheckboxUnchecked:hover,
div.RadForm .rfdAspLabel,
div.RadForm .rfdRadioUnchecked,
div.RadForm .rfdInputDisabled.rfdRadioUnchecked:hover,
div.RadForm .rfdRadioUnchecked:hover,
div.RadForm .rfdRadioChecked,
div.RadForm .rfdInputDisabled.rfdRadioChecked:hover,
div.RadForm .rfdRadioChecked:hover,
div.RadForm .riTextBox,
div.RadForm .rfdValidationSummaryControl,
div.RadForm .rfdLoginControl,
div.RadForm legend,
div.RadForm .rfdSelect,
div.RadForm .rfdSelectBox
div.RadUpload_Metro,
div.RadUpload_Metro a,
div.RadUpload_Metro input,
div.RadForm textarea,
div.rfdSelectBox,
div.rfdSelectBox_Metro,
div.RadDropDownList_Metro,
div.RadComboBox_Metro,
div.rddlPopup_Metro
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #222;
	border-color: #444;
}



span.RadInput_Metro textarea.riDisabled, span.RadInput_Metro input.riDisabled
{
	color: #c0c0c0 !important;
	border-color: #e5e5e5 !important;
}

div.rddlInner
{
	font-size: 100%;
}

span.RadButton_Metro.rbSkinnedButton,
span.RadButton_Metro .rbDecorated,
span.RadButton_Metro.rbVerticalButton,
span.RadButton_Metro.rbVerticalButton .rbDecorated
{
    border: 0;
    color: #fff;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #191970;
    padding: 3px 12px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url(/css/PIE.htc); /* IE8 rounded corners */
}

span.RadButton_Metro.rbSkinnedButton,
span.RadButton_Metro.rbVerticalButton
{
	height: 32px;
}

span.RadButton_Metro .rbDecorated,
span.RadButton_Metro.rbVerticalButton .rbDecorated
{
	height: 26px;
}

span.RadButton_Metro.rbSkinnedButton:hover,
span.RadButton_Metro .rbDecorated:hover,
span.RadButton_Metro.rbVerticalButton:hover,
span.RadButton_Metro.rbVerticalButton .rbDecorated:hover
{
    opacity: 0.6;
    border: 0 !important;
    background-color: #191970;
    color: #fff !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url(/css/PIE.htc); /* IE8 rounded corners */
}

    span.rbDisabled {
        opacity: 1.0 !important;
        border: 0 !important;
        color: #999 !important;
        background-color: #ddd !important;
    }

    span.rbDisabled:hover {
        opacity: 1.0 !important;
        border: 0 !important;
        color: #999 !important;
        background-color: #ddd !important;
    }

    span.rbDisabled .rbDecorated {
        opacity: 1.0 !important;
        border: 0 !important;
        color: #999 !important;
        background-color: #ddd !important;
    }

    span.rbDisabled:hover .rbDecorated {
        opacity: 1.0 !important;
        border: 0 !important;
        color: #999 !important;
        background-color: #ddd !important;
    }
span.RadButton_Metro.rbSkinnedButton .rbDecorated {
	margin-left: 0;
}

.metroIconButton .rbDecorated {
	margin-left: 18px !important;
	/*margin-right: 0 !important;*/
}

.metroIconButton .rbPrimaryIcon {
	top: 4px;
	left: 4px;
	width: 24px;
	height: 24px;
}

.metroIconButtonSecondary .rbSecondaryIcon {
	top: 4px;
	right: 4px;
	width: 24px;
	height: 24px;
}


div.RadForm.rfdTextbox input[type="text"].rfdDecorated,
div.RadForm.rfdTextbox input[type="password"].rfdDecorated,
div.RadForm.rfdTextbox input[type="search"].rfdDecorated,
div.RadForm.rfdTextbox input[type="url"].rfdDecorated,
div.RadForm.rfdTextbox input[type="tel"].rfdDecorated,
div.RadForm.rfdTextbox input[type="email"].rfdDecorated
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #222;
    height: 22px;
}


html body span.RadInput_Metro input.riTextBox
{
     font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #222;   
    border-color: #ccc;
}

span.rfdSelectText
{
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #222;
}

div.RadForm_Metro
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.RadForm_Metro.rfdLabel label, div.RadForm_Metro.rfdLabel .rfdAspLabel
{
    color: #222;
}



/* ToolTip overrides */

div.RadToolTip_Metro .rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_Metro .rtWrapper td.rtWrapperBottomCenter,
div.RadToolTip_Metro .rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_Metro .rtWrapper td.rtWrapperTopRight,
div.RadToolTip_Metro .rtWrapper td.rtWrapperBottomLeft,
div.RadToolTip_Metro .rtWrapper td.rtWrapperBottomRight,
div.RadToolTip_Metro .rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_Metro .rtWrapper td.rtWrapperBottomCenter,
div.RadToolTip_Metro .rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_Metro .rtWrapper td.rtWrapperRightMiddle {
	background-color: #fff;
}

div.RadToolTip_Metro .rtWrapper td.rtWrapperContent 
{
	background-color: #fff;
	color: #222;
}

/* RadAsyncUploader overrides */

div.RadUpload_Metro,
div.RadUpload_Metro a,
div.RadUpload_Metro input
{
	font-size: 11px !important;
	font-family: Verdana, Arial, helvetica, Sans-Serif !important;
	color: #222 !important;
}

ul.ruInputs li
{
	border-bottom: 1px dotted #ccc;
	padding: 5px;
	font-size: 11px !important;
}

label.descriptionLabel
{
	color: #888 !important;
	font-size: 11px !important;
}

input.descriptionInput
{
	width: 300px !important;
}

html .RadSearchBox .rsbInput 
{
    font: normal 12px Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.rcbSeparator
     {
         background-color: green;
     }

div.radComboBox_Metro {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-color: #aaa;
    color: #444;
}

span.RadInput_Metro textarea, span.RadInput_Metro input  {
    border-color: #aaa !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

select, input {
    border-width: 1px;
    border-color: #aaa !important;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

.multipleRowsColumns .rcbItem,
        .multipleRowsColumns .rcbHovered
        {
            float:left;
            margin:0 1px;
            min-height:13px;
            overflow:hidden;
            padding:2px 15px 2px 6px;
            width: 250px;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 12px;
        } 

.multipleRowsColumnsNarrow .rcbItem,
        .multipleRowsColumnsNarrow .rcbHovered
        {
            float:left;
            margin:0 1px;
            min-height:13px;
            overflow:hidden;
            padding:2px 15px 2px 6px;
            width: 200px;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 12px;
        } 


.RadScheduler .rsMonthView .rsWrap,
    .RadScheduler .rsMonthView .rsApt,
    .RadScheduler .rsMonthView .rsAptOut,
    .RadScheduler .rsMonthView .rsAptIn,
    .RadScheduler .rsMonthView .rsAptMid,
    .RadScheduler .rsMonthView .rsAptContent
    {
            position: static !important;
            height: auto !important;
    }

    .RadScheduler .rsTopWrap .rsHeader,
    .RadScheduler .rsHeader .rcTitleBar,
    .RadScheduler .rsHeader .rsToday,
	.RadScheduler .rsHeader .rsDatePickerWrapper,
	 .RadScheduler .rsHeader .rsDatePickerActivator
    {
        font-family: Verdana, arial, helvetica, sans-serif;
		font-size: 14px;
        background-color: #B0C4DE;
        color: black;
        border: none;
    }

      .RadScheduler .rsTopWrap .rsHeaderMonth  
    {
        font-family: Verdana, arial, helvetica, sans-serif;
        background-color: #B0C4DE;
        color: black;
        border: none;
    }
    .RadScheduler .rsTopWrap .rsHeaderDay 
    {
        font-family: Verdana, arial, helvetica, sans-serif;
        background-color: #B0C4DE;
        color: black;
        border: none;
    }

 	.RadScheduler .rsMonthView .rsWrap
	{
			overflow: visible;
			font-size: 0;
			line-height: 0;
	}
	.RadScheduler .rsMonthView .rsLastWrap
	{
			height: 16px !important;
	}
	.RadScheduler .rsMonthView .rsAptContent
	{
			position: relative !important;
			border-top: 0;
			border-bottom: 0;
			left: 0;
			top: 0;
	}
	* html .RadScheduler .rsMonthView .rsAptIn
	{
			border-width: 0 1px;
			top: 0;
			margin-left: -1px;
			margin-right: -1px;
	}
	* html .RadScheduler .rsMonthView .rsAptMid
	{
			top: 0;
			left: 1px;
			margin: 0 1px;
			border-width: 1px 0;
	}




