<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs/rolling.log" formatter="Text Formatter" rollInterval="Day" rollSizeKB="2048" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="maxIncident" value="559"/>
    <add key="environment" value="dev" />
    <add key="altEmail" value="mike@luxinteractive.com" />
    <add key="PasswordComplexity" value="2" />
    <!--<add key="CustomerLogo" value="NSKLogo.jpg" />
    <add key="CustomerLogoLarge" value="NSKLogoLarge.jpg" />-->
    <add key="CustomerLogo" value="MetricsoftLogoSmall.png" />
		<add key="CustomerLogoLarge" value="MetricsoftLogo.png" />
    <add key="MainTitle" value="Environmental, Health &amp; Safety" />
    <add key="MainInfo" value="Registered Users, Please Log In" />
    <!-- this following are parameters for all file uploads -->
    <add key="FileDelimiter" value="|" />
    <add key="DefaultPartProgram" value="IP001" />
    <add key="PeriodFormat" value="yyyy/mm" />
    <add key="CompanyID" value="1" />
    <add key="ReceiptDateFormat" value="dd/MM/yyyy" />
    <add key="TimeoutOverride" value="60" />
    <!--<add key="LoginOverride" value="QAI" />-->
    <!--  url format /login.aspx/?t=ltc:60&p=EHS -->
    <add key="PlantAccountingCalcStartDate" value="2014/01/01" />
    <add key="MenuRMCARActive" value="true" />
    <add key="Menu8DActive" value="false" />
    <add key="MenuQualityActive" value="false" />
    <add key="MenuEHSActive" value="true" />
    <add key="MenuPreventativeActive" value="true" />
    <!-- valid values are yyyy/mm or mm/yyyy-->
    <add key="CalcStatOfTheDay" value="false" />
    <add key="ExternalLinks" value="" />
  </appSettings>
  <connectionStrings>
    <add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.15;Initial Catalog=AAM;User ID=qaiAAM;Password=qaiAAM;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MIKELAPTOP\MIKELAPTOP;Initial Catalog=AAM;User ID=qaidev;Password=qaidev;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=98.129.165.160;Initial Catalog=AAM;User ID=qaiAAM; Password=qaiAAM; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=98.129.165.160;Initial Catalog=AAMstaging;User ID=qaiAAM; Password=qaiAAM; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.15;Initial Catalog=TI;User ID=qaiAAM;Password=qaiAAM;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MIKELAPTOP\MIKELAPTOP;Initial Catalog=TI;User ID=qaidev;Password=qaidev;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=98.129.165.160;Initial Catalog=SuperiorStaging;User ID=msSup; Password=Sup3r10r; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=98.129.165.160;Initial Catalog=TI;User ID=qaiti; Password=qaiti; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MIKELAPTOP\MIKELAPTOP;Initial Catalog=NSK;User ID=qaidev;Password=qaidev;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.0.15;Initial Catalog=NSK;User ID=qaiAAM;Password=qaiAAM;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PSsqmEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=98.129.165.160;Initial Catalog=NSK;User ID=msNSK; Password=nsk@s3r; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="360" requestLengthDiskThreshold="8192" maxRequestLength="100000" requestValidationMode="2.0" enableVersionHeader="false" />
    <!--<customErrors mode="Off" />-->
    <customErrors mode="Off" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Home/Error404.aspx" />
    </customErrors>
    <sessionState mode="InProc" timeout="60" regenerateExpiredSessionId="true" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <pages clientIDMode="Static" validateRequest="true" viewStateEncryptionMode="Always" enableEventValidation="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <globalization culture="auto" uiCulture="auto" />
    <!--<httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>